<template>
	<button>{{ label }}</button>
</template>

<script setup>
defineProps(['label']);
defineEmits(['clicked']);
</script>


<style lang="scss" scoped>
button {
	padding: 1em;
	border-radius: calc(var(--button-border-radius) - 4px);
	border: none;
	box-shadow: none;
	font: inherit;
	color: plum;
	background: rebeccapurple;
	margin-bottom: 3rem;
	cursor: pointer;
	font-size: 1.5em;
}
</style>
