<script setup>
import { ref, reactive, onMounted } from 'vue';
import FavStore from '../store/FavStore.js';
import QuoteCard from './QuoteCard.vue';
import IconButton from './IconButton.vue';


const cards = ref([]);
const store = FavStore();


onMounted(() => {
	store.load();
	// window.onbeforeunload = (ev) => {
		// store.persist();
	// };
	const favorites = store.get();
	favorites.forEach(id => {
		fetch(`https://dummyjson.com/quotes/${id}`)
			.then(response => response.json())
			.then(data => {
				cards.value.push(data);
			})
			.catch(err => console.log(err))
		;
	});
});



function toggleFav(id) {
	store.toggle(id);
	cards.value.forEach((card, i) => {
		if (card.id == id) {
			cards.value.splice(i, 1);
		}
	});
}

function onClear() {
	store.clear();
	cards.value = [];
}
</script>


<template>
	<main>
		<div class="quotes">
			<QuoteCard 
				v-for="(card, index) in cards" 
				:key="card.id" 
				:id="card.id"
				:quote="card.quote" 
				:author="card.author"
				:willScroll="false"
				:removable="false"
				@toggleFav="toggleFav"
			/>
		</div>

		<IconButton v-if="cards.length > 0" @click.confirm="onClear" name="pr-trash" label="Remove all" />
		<div v-if="cards.length == 0">So much empty. Go and pick some favorite quotes, they will show up here.</div>
	</main>

</template>


<style lang="scss" scoped>
</style>
