<script setup>
const props = defineProps(['name', 'label', 'icon']);
</script>

<template>
	<button>
		<v-icon v-bind:name="name" />
		<span>{{ label }}</span>
	</button>
</template>

<style lang="scss" scoped>
button {
	display: flex;
	flex-wrap: nowrap;
	gap: 0.5em;
	border-radius: calc(var(--button-border-radius) - 8px);
	border: 2px solid var(--text-color);
	color: var(--text-color);
	background-color: var(--bg-color);
	padding: 0.5em 0.75em;
	cursor: pointer;

	span {
		font-weight: 700;
	}

	&:hover {
		background-color: var(--text-color);
		color: var(--bg-color);
	}
}
</style>
