<script setup>
import { ref, reactive, onMounted } from 'vue';
import FavStore from '../store/FavStore.js';
import QuoteCard from './QuoteCard.vue';


const cards = ref([]);
const store = FavStore();


onMounted(() => {
	store.load();
	window.onbeforeunload = (ev) => {
		store.persist();
	};
	fetch(`https://dummyjson.com/quotes?limit=0`)
		.then(response => response.json())
		.then(data => {
			data.quotes.forEach(quote => {
				cards.value.push(quote);
			})
		})
		.catch(err => console.log(err));
});

function toggleFav(id) {
	store.toggle(id);
}

</script>


<template>
	<main>
		<div class="quotes">
			<QuoteCard 
				v-for="(card, index) in cards" 
				:key="card.id" 
				:id="card.id"
				:quote="card.quote" 
				:author="card.author"
				:willScroll="false"
				:removable="false"
				@toggleFav="toggleFav"
			/>
		</div>

		<IconButton @click="loadNewQuote" name="pr-refresh" label="Get another one" />
	</main>
</template>
