<script setup>
import { ref, toRef, computed, onMounted, onUnmounted, onBeforeUnmount } from 'vue';
import IconButton from './IconButton.vue';
import FavStore from '../store/FavStore.js';

const props = defineProps(['id', 'quote', 'author', 'favorites', 'isFavorite', 'willScroll', 'removable']);
const favs = toRef(props.favorites);
const emit = defineEmits(['remove', 'toggleFav', 'appeared']);
const el = ref();
const store = FavStore();

const currentPath = window.location.hash.slice(1); 
// const hasRemoveBtn = (currentPath == '/random' || currentPath == '/');

const animationTiming = { 
	duration: 250, 
	easing: 'ease-out', 
	fill: 'forwards' 
};

var anim = null;

onMounted(() => {
	anim = el.value.animate({
		transform: ['scale(0)', 'scale(1)']
	}, animationTiming);
	if (props.willScroll) {
		anim.onfinish = () => {
			el.value.scrollIntoView({
				behavior: 'smooth'
			});
		}
	};
	anim.play();
});

onBeforeUnmount(() => {
	console.log('onBeforeUnmount');
	anim.onfinish = false;
	anim.reverse();
	anim.play();
});


function remove() {
	const anim = el.value.animate({
		transform: ['scale(1)', 'scale(0)']
	}, animationTiming);
	anim.onfinish = () => emit('remove');
}


function onToggleFavClicked(event) {
	emit('toggleFav', props.id);
}


const isFavorite = computed(() => {
	return store.has(props.id); 
});
</script>


<template>
	<blockquote ref="el" :class="{isFavorite: isFavorite}">
		<div><small>{{ id }}</small></div>
		<p>{{ quote }}</p>
		<small>{{ author }}</small>

		<menu class="action-area">
			<li v-if="removable"> 
				<IconButton name="pr-trash" label="Remove" @click="remove" /> 
			</li>
			<li> 
				<IconButton v-if="isFavorite" name="pr-heart-fill" label="Remove from favorites" @click="onToggleFavClicked" />
				<IconButton v-else name="pr-heart" label="Add to favorites" @click="onToggleFavClicked" />
			</li>
		</menu>

	</blockquote>
</template>


<style lang="scss" scoped>
blockquote {
	--text-color: rebeccapurple;
	--bg-color: plum;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-radius: var(--card-border-radius);
	padding: 1rem 1.5rem;
	font-size: 3em;
	line-height: 1.25;

	transition: background-color, color 350ms ease-out;

	p {
		font-weight: bold;
	}

	&.isFavorite {
		--text-color: plum;
		--bg-color: rebeccapurple;
	}
}

menu {
	display: flex;
	list-style: none;
	gap: 0.25em;
	padding: 0;
	justify-content: flex-end;
	&[disabled] {
		opacity: 0.1;
		pointer-events: none;
	}
}

div span + small {
	font-size: 15px;
}
</style>
