<script setup>
import { ref, reactive, onMounted } from 'vue';
import FavStore from '../store/FavStore.js';
import IconButton from './IconButton.vue';
import QuoteCard from './QuoteCard.vue';

const cards = ref([]);
const store = FavStore();
const favorites = store.favorites;
const count = store.count;

onMounted(() => {

	// Get store from localStorage
	store.load();

	// Persist store on window unload
	window.onbeforeunload = (ev) => {
		store.persist();
	};

	// Load one quote
	getRandomQuote();
});


function loadNewQuote(ev) {
	const btn = ev.currentTarget;
	btn.disabled = true;
	getRandomQuote()
		.catch(err => alert(`Request failed: ${err}`))
		.finally(() => btn.disabled = false)
}


function toggleFav(id) {
	store.toggle(id);
}


function scrollCardIntoView(card) {
	// console.log(card);
}


async function getRandomQuote() {

	if (cards.value.length == 100) {
		return;
	}

	while (true) {
		var id = Math.floor(Math.random() * 100) + 1;
		for (var i = 0; i < cards.value.length && cards.value[i].id != id; i++)
			;
		if (i == cards.value.length) break; 
	}

	let url = `https://dummyjson.com/quotes/${id}`;
	// let url = `https://dummyjson.com/http/404`;
	return new Promise((resolve, reject) => {
		fetch(url)
			.then(response => {
				if (response.status < 200 || response.status >= 400) {
					throw new Error(`Response Code ${response.status}`);
				}
				return response.json();
			})
			.then(data => {
				if (typeof data !== 'object') {
					throw new Error('Illegal response');
				}
				cards.value.push(data);
				resolve();
			})
			.catch(e => reject(e))
	});
}
</script>
<template>
	<div class="quotes">
		<QuoteCard 
			v-for="(card, index) in cards" 
			:key="card.id" 
			:id="card.id"
			:quote="card.quote" 
			:author="card.author"
			:favorites="favorites"
   			:willScroll="true"
   			:removable="true"
			@remove="cards.splice(index, 1)"
			@toggleFav="toggleFav"
   			@appeared="scrollCardIntoView(card)"
		/>
	</div>
	<IconButton @click="loadNewQuote" name="pr-refresh" label="Get another one" />
</template>


<style scoped>
.quotes {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

button {
	color: plum;
	background: rebeccapurple;
	margin-bottom: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
	align-items: center;
}
</style>
