<script setup>
import { ref, computed } from 'vue';
import Index from './components/Index.vue';
import Random from './components/Random.vue';
import Favorites from './components/Favorites.vue';
import NotFound from './components/NotFound.vue';
import FavStore from './store/FavStore.js';

const store = FavStore();
const routes = {
	'/': Random,
	'/index': Index,
	'/favorites': Favorites
};

const currentPath = ref(window.location.hash);
window.addEventListener('hashchange', () => {
	currentPath.value = window.location.hash;
});

const currentView = computed(() => {
	return routes[currentPath.value.slice(1) || '/'] || NotFound
});
</script>


<template>
	<header>
		<h1 class="brand"><a href="#/">Quotes</a></h1> 
		<a href="#/index">All quotes</a>
		<a href="#/favorites">{{ store.count }} Favorites </a>
	</header>

	<main>
		<component :is="currentView" />
	</main>
</template>


<style scoped>
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #303030;
	padding: 0.5rem 1rem;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	color: plum;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}
</style>
